.content .card-req-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.card-req-wrapper .card-form {
  display: flex;
  flex-direction: column;
  min-width: 369px;
}

.card-form .custom-input {
  display: flex;
}

.custom-input .tooltip {
  position: absolute;
  margin-left: 384px;
  min-width: 230px;
  min-height: 50px;
}

.arrow_box {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(7px);
  padding-left: 20px;
  padding-right: 20px;
  color: #E30000;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 7.5px;
  margin-top: -7px;
}

.arrow_box:before {
  border-color: rgba(211, 211, 211, 0);
  border-right-color: #d3d3d3;
  border-width: 8.5px;
  margin-top: -8px;
}