.catalog {
  margin-bottom: 40px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#bike-list {
  display: flex;
  width: 100%;
  min-width: 880px;
  flex-wrap: wrap;
  gap: 29px 30px;
}

.bike-card {
  display: flex;
  width: 370px;
  height: 390px;
  flex-direction: column;
  justify-content: space-between;
}

.bike-card .bike-card__img {
  width: 250px;
  height: 250px;
  flex-basis: 250px;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  flex-shrink: 0;
}

.pointer-list {
  min-width: 192px;
}

.pointer-list ul {
  list-style-type: none;
  padding: 0;
}

.active::before {
  content: "•";
  color: #3C1491;
  font-size: 20px;
  width: 10px;
  margin-left: -10px;
  display: inline-block;
}

.pointer-list ul::before {
  content: 'Пункты выдачи';
  font-size: 22px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 25px;
}

.pointer-list li {
  margin-block: 15px;
}

.pointer-list a {
  color: #333333;
}

#loadMore {
  width: fit-content;
  margin: 0 auto;
}