.content {
  max-width: 100vw;
}

.container .slide {
  position: relative;
  height: 86.5vh;
  min-width: 1440px;
  background: url(../images/main_background.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  color: white;
}

.slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 0, 69, 0.42);
  z-index: 0;
}

.content .slide-inner {
  position: relative;
  z-index: 1;
  padding: 100px 0 0 172px;
  min-width: 969px;
}

.content .slide-inner p {
  font-size: 18px;
  line-height: 30px;
  width: 765px;
  margin-bottom: 13px;
}

.content .slide-inner button {
  margin-right: 27px;
}