html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.container>div {
  margin-left: 136px;
  margin-right: 136px;
}

.content {
  flex-grow: 2;
  min-width: 1440px;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  width: 100%;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  background-color: gray;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  color: #333333;
  margin-top: 60px;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

button {
  background: #3C1491;
  border: 1px solid #3C1491;
  border-radius: 1px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  height: 38px;
  width: fit-content;
  padding: 9px 39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.63913e-08px;
}

label {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

input {
  min-width: 369px;
  width: 369px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  font-size: 18px;
  padding-left: 10px;
}

.error-input {
  border: 1px solid #E30000;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #0000FF;
}

.hr {
  height: 1px;
  box-sizing: border-box;
  border-top: 1px solid #CECECE;
}

.large {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.white-font {
  color: white;
}