.lk h3 span {
  color: #B0B0B0;
  font-size: 24px;
  line-height: 34px;
  margin-left: 30px;
}

.lk__content {
  display: flex;
}

.lk__content .requsites {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  min-width: 370px;
  height: 231px;
  border: 1px solid #CECECE;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
}

.lk__content .requsites .hr {
  margin-left: -30px;
  margin-right: -30px;
}

.lk__content .requsites .bike-card__header {
  margin-bottom: 15px;
}

.lk__content .requsites .bike-card__header {
  margin-bottom: 15px;
}

.lk__content .requsites .card-number {
  font-weight: 500;
  color: #333333;
  margin: 20px 0 5px 0;
}

.lk__content .requsites button {
  margin-top: auto;
}

.bike-card-horizontal {
  flex-direction: row;
  min-width: 800px;
  height: 250px;
  justify-content: start;
}

.bike-list .bike-card-horizontal {
  margin: 0 30px 40px 0;
}

.bike-card-description {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  justify-content: space-around;
}

.description {
  font-size: 18px;
  line-height: 26px;
}