.content .login-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 369px;
  width: 369px;
}

.login-form a {
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
}

.text-form-error {
  color: #E30000;
  margin: 0;
  margin-bottom: 20px;
}