#map {
  min-width: 1170px;
  min-height: 600px;
  width: 86vw;
}

.map-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.balloon-layout h4 {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}

.placemark-tooltip {
  width: 370px;
  height: 130px;
}