.content .registation-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.registation-form {
  display: flex;
  flex-direction: column;
  min-width: 369px;
  width: 369px;
}

.registation-form a {
  margin-left: 15px;
}