{{> header}}
<script src="../js/card-requisites.js" type="module"></script>
<div class="card-req-wrapper">
  <h3>Реквизиты карты</h3>
  <form class="card-form" method="post">
    <label for="card-num">Номер карты</label>
    <div class="custom-input">
      <input type="text" id="card-num" name="card-num" value="{{ cardRequisites.number }}">
      <div class="tooltip hidden">
        <div class="arrow_box">
          <p></p>
        </div>
      </div>
    </div>
    <label for="card-date">Срок действия</label>
    <div class="custom-input">
      <input type="text" id="card-date" name="date" value="{{ cardRequisites.date }}">
      <div class="tooltip hidden">
        <div class="arrow_box">
          <p></p>
        </div>
      </div>
    </div>
    <label for="card-cvv">CVV</label>
    <div class="custom-input">
      <input type="text" id="card-cvv" name="login" value="{{ cardRequisites.cvv }}">
      <div class="tooltip hidden">
        <div class="arrow_box">
          <p></p>
        </div>
      </div>
    </div>
    <button id="submit-button" type="submit">Сохранить</button>
  </form>
</div>
{{> footer}}