{{> header}}
<script src="../js/catalog.js"  type="module"></script>
<script src="https://unpkg.com/mustache@latest"></script>
<script id="bike-card__template" type="x-tmpl-mustache-template">
  {{#bikeList}}
  <div class="bike-card">
    <div class="bike-card__img" style="background: url(../images/{{img}}) center no-repeat;  background-size: 100%;"></div>
    <h5 class="bike-card__header">{{name}}</h5>
    <p class="bike-card__cost">Стоимость за час - {{cost}} ₽</p>
    <button class="bike-card__apply-button" onClick="window.location = '/order/{{_id}}';">Арендовать</button>
  </div>
  {{/bikeList}}
</script>
<div class="catalog">
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  {{#pointInfo}}
  <h3>Каталог велосипедов по адресу {{address}}</h3>
  {{/pointInfo}}
  {{^pointInfo}}
  <h3>Каталог велосипедов</h3>
  {{/pointInfo}}

  <div class="catalog__content">
    <div id="bike-list">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
      
    </div>
    <div class="pointer-list">
      <ul>
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        {{#pointersList}}
        {{#isActive}}
        <li class="active"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}
        {{^isActive}}
        <li><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}

        {{/pointersList}}
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button type="button">Загрузить ещё</button>
  </div>

</div>
{{> footer}}