<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/styles/layout.css">
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/catalog.css">
	<link rel="stylesheet" href="/styles/login.css">
	<link rel="stylesheet" href="/styles/registation.css">
	<link rel="stylesheet" href="/styles/catalog.css">
	<link rel="stylesheet" href="/styles/card-requisites.css">
	<link rel="stylesheet" href="/styles/map.css">
  <link rel="stylesheet" href="/styles/lk.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/api.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=4352193c-0cbb-4978-bda7-3f3c9b16fe74&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
	<div class="layout">
	  <div class="header">
			<div class="container">
				<div class="header__content">
					<a href="/" class="logo"></a>
          {{#isLogin}}
          <a href="/lk" class="header__link">Личный кабинет</a>
					<a href="/logout" class="header__link">Выйти</a>
          {{/isLogin}}
          {{^isLogin}}
					<a href="/login" class="header__link">Войти</a>
					<a href="/registration" class="header__link">Зарегистрироваться</a>
          {{/isLogin}}
        </div>
			</div>
	  </div>
		<div class="content container">
