{{> header}}
<div class="slide">
  <div class="slide-inner">
    <h1>Сервис аренды<br>велосипедов</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Esse blanditiis illo aperiam voluptatibus at nobis impedit
      illum deserunt vero commodi voluptate optio excepturi quidem
      nostrum laboriosam hic quas voluptas, ut!</p>
    <button onclick="location.href='/catalog';">Арендовать велосипед</button>
    <button onclick="location.href='/map';">Найти пункт выдачи</button>
  </div>
</div>
{{> footer}}