{{> header}}
<script src="../js/lk.js" type="module"></script>
<div class="lk">
  <h3>Личный кабинет <span>{{login}}</span></h3>
  <div class="lk__content">
    <div class="bike-list">
      {{#orderList}}
      <div class="bike-card bike-card-horizontal">
        <div class="bike-card__img"
          style="background: url(../images/{{bike.img}}) center no-repeat;  background-size: 100%;"></div>
        <div class="bike-card-description">
          <h4 class="bike-card__header">{{bike.name}}</h4>
          <div class="bike-card__total-time description">Прошло времени - {{formatTotalTime}} </div>
          <div class="bike-card__cost description">Стоимость за час - {{totalCost}} ₽</div>
          <button class="bike-card__apply-button" data-order-id="{{_id}}">Вернуть</button>
        </div>
      </div>
      {{/orderList}}
      {{^orderList}}
      <h5>Нет арендованных велосипедов</h5>
      {{/orderList}}
    </div>
    <div class="requsites">
      <h4 class="bike-card__header">Реквизиты карты</h4>
      <div class="hr"></div>
      {{#cardRequisites}}
      <h5 class="card-number">{{cardRequisites.number}}</h5>
      <h5>{{cardRequisites.date}}</h5>
      {{/cardRequisites}}
      {{^cardRequisites}}
      <h5 class="card-number">Нет данных</h5>
      {{/cardRequisites}}
      <button onclick="window.location = '/card-requisites';">Изменить</button>
    </div>
  </div>
</div>
{{> footer}}