{{> header}}
	<div class="login-wrapper">
	<h3>Вход</h3>
	<form method="post" class="login-form">
		<label for="login">Логин</label>
		<input type="text" id="login" name="login" value="{{ login }}">

		<label for="password">Пароль</label>
		<input type="password" id="password" name="password">

		{{#isLoginError}}
			<p class="text-form-error">
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<div>
			<button type="submit">Войти</button>
		<a href="/registration">или зарегистрироваться</a>
		</div>
	</form>
</div>
{{> footer}}
