{{> header}}
<div class="order">
  <h3>Аренда велосипеда</h3>
  <div class="order__content">
    <div class="bike-list">
      {{#bikeInfo}}
      <div class="bike-card bike-card-horizontal">
        <div class="bike-card__img"
          style="background: url(../images/{{bikeInfo.img}}) center no-repeat;  background-size: 100%;"></div>
        <div class="bike-card-description">
          <h4 class="bike-card__header large">{{bikeInfo.name}}</h4>
          <h5>Чтобы забрать велосипед, введите код</h5>
          <h1>{{orderCode}}</h1>
        </div>
        {{/bikeInfo}}
      </div>
    </div>
  </div>
</div>
{{> footer}}